<!DOCTYPE html>
<html>
    <head>
        <title>Some Website</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{> header}}
        <p>text goes here</p>
        <P>{{screamIt message}}</P>
        
        {{> footer}}
    </body>
</html>